html{
    overflow-x: hidden;
    
}

body{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
section h1 {
font-family: 'Shrikhand', 'Arial', 'sans-serif';
}

section h2, h3, h4, p{

font-family: 'roboto', 'Arial', 'sans-serif';
}

h2{
    font-weight: bold;
}

p{
    font-weight: normal;
}
.fas{
text-rendering: optimizeLegibility;

}



    

    
